David Weir <david.weir@helsinki.fi>
David Weir <david.weir@helsinki.fi> <weir@afo.theorphys.helsinki.fi>
David Weir <david.weir@helsinki.fi> <weir@vuori2.csc.fi>
David Weir <david.weir@helsinki.fi> <weir@taito-login3.csc.fi>
David Weir <david.weir@helsinki.fi> <weir@taito-login4.csc.fi>
David Weir <david.weir@helsinki.fi> <djw95@universe.damtp.cam.ac.uk>
David Weir <david.weir@helsinki.fi> <weir@alcyone.grid.helsinki.fi>
David Weir <david.weir@helsinki.fi> <weir@air-2.local>
David Weir <david.weir@helsinki.fi> <djw95@cosmic.private.damtp.cam.ac.uk>
David Weir <david.weir@helsinki.fi> <djw95@cosmos.damtp.cam.ac.uk>
David Weir <david.weir@helsinki.fi> <weir@sisu-login3.csc.fi>
David Weir <david.weir@helsinki.fi> <david.weir@uis.no>
David Weir <david.weir@helsinki.fi> <weir@Davids-MacBook-Air-2.local>
David Weir <david.weir@helsinki.fi> <weir@louhi-login3.(none)>
David Weir <david.weir@helsinki.fi> <weir@sisu-login2.csc.fi>
David Weir <david.weir@helsinki.fi> <weir@sisu-login5.csc.fi>
David Weir <david.weir@helsinki.fi> <djw95@cosmos.private.damtp.cam.ac.uk>
David Weir <david.weir@helsinki.fi> <iprdawei@eslogin003.hww.de>
David Weir <david.weir@helsinki.fi> <iprdawei@eslogin005.hww.de>
David Weir <david.weir@helsinki.fi> <weir@sisu-login1.csc.fi>
David Weir <david.weir@helsinki.fi> <weir@sisu-login4.csc.fi>

Pierre Auclair <auclair@apc.in2p3.fr>

José Correia <jose.correia@helsinki.fi> 
José Correia <jose.correia@helsinki.fi> <camposjo@mahti-login12.mahti.csc.fi>
José Correia <jose.correia@helsinki.fi> <camposjo@mahti-login11.mahti.csc.fi>
José Correia <jose.correia@helsinki.fi> <camposjo@helsinki.fi>

Daniel Cutting <d.cutting@sussex.ac.uk>
Daniel Cutting <d.cutting@sussex.ac.uk> <D.Cutting@sussex.ac.uk>
Daniel Cutting <d.cutting@sussex.ac.uk> <dcfc20@sussex.ac.uk>
Daniel Cutting <daniel.cutting@helsinki.fi> 
Daniel Cutting <daniel.cutting@helsinki.fi> <iprdacut@hawk-login05.ib0.hawk.hww.hlrs.de>
Daniel Cutting <daniel.cutting@helsinki.fi> <dacuttin@LM0-500-22339.local>
